<app-header titulo="card"></app-header>

<ion-content class="ion-padding">

  <ion-card mode="ios" color="primary">
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-item color="primary">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem amet quaerat minus perspiciatis iure, totam, similique, suscipit possimus esse accusantium dolorum quo vel voluptatem debitis omnis recusandae explicabo! Doloribus, soluta.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>

    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ea nam nesciunt alias ratione tenetur quas ducimus sunt. Cum quas molestiae vel nisi saepe sint consequatur veritatis nemo unde sequi.
    </ion-card-content>

  </ion-card>

</ion-content>
